
<div class="col-md-12">
    <h2> {{{ bodyTitle }}} </h2>
    <p> {{{bodyText}}} </p> <br>


    {{#each events}}
        {{#each this.events}}
            <ul class="list-group">
                <li class="list-group-item">
                    <b> Event title: </b> {{this.title}} <br>
                    <b> Event ID: </b> {{this._id}} <br>
                    <b> Description: </b> {{this.description}} <br>
                    <b> Comments: </b> {{this.comments.length}} <br>
                    <b> Attending users: </b> <br>
                    <ul>
                        {{#each this.attendingUsers}}
                            <li><b> userID: </b> <a href="/user/{{this.userID}}"> {{this.userID}} </a> </li>
                        {{else}}
                            <li> No users attending this event </li>
                        {{/each}}
                    </ul>
                    <p><a class="btn btn-secondary" href="/event/{{this._id}}" role="button">View event &raquo;</a></p>
                </li>
            </ul>
        {{/each}}
    {{else}}
            <li class="list-group-item">no events found</li>
    {{/each}}



</div>
