
<div class="col-md-12">
    <h2> {{{ bodyTitle }}} </h2>
    <p> {{{bodyText}}} </p> <br>

    <ul class="list-group">
        <li class="list-group-item">
            <b> Event title: </b> {{data.title}} <br>
            <b> Event ID: </b> {{data._id}} <br>
            <b> Description: </b> {{data.description}} <br>
            <b> Attending users: </b> <br>
            <ul>
                {{#each data.attendingUsers}}
                    <li> <b> userID: </b> {{this.userID}} </li>
                {{else}}
                    <li> No users attending this event </li>
                {{/each}}
            </ul> <br>

            <p><a class="btn btn-secondary" href="/event/attending/{{data._id}}" role="button">Attend event &raquo;</a></p>
        </li>
    </ul>

    <br>

    <ul class="list-group">
        <li class="list-group-item">
            <b> Comments: </b> <br> <br>
            {{#each data.comments}}
                <li class="list-group-item">
                    <b> userID: </b> <a href="/user/{{this.userID}}"> {{this.userID}} </a>  <br>
                    <b> Comment: </b> <br>
                        <ul class="list-group">
                            <div class="col-md-3 col-md-offset-3">
                                {{this.comment}}
                            </div>
                        </ul>
                    <b> Date placed: </b> {{this.datePlaced}} <br>
                </li>
            {{else}}
                No comments yet <br> <br>
            {{/each}}
        </li>
    </ul>

    <br>

    <ul class="list-group">
        <li class="list-group-item">
            <b> Add comment </b> <br> <br>
            <form method="POST" action="/event/addComment/{{data._id}}">
                <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea name="comment" class="form-control" type:'text' rows="2" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </li>
    </ul>



</div>
